.web{
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.studio{
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.button{
    cursor: pointer;
    background-color: #4d5ae5;
    color: white;
}

.navi{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42;
}

.address{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.key-features{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.our{
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}


